/*
Styles for chatbot
*/

.chatBotBox{
    border:2px solid slategray;
    background-color:bisque;
    position:fixed;
    bottom: -150px;
    right: 25px;
    height: auto;
    width: 33%;
    transition:all 1s ease-in-out;
    
}

.chatBotTab{
    border: 1px solid linen;
}

.chatBotMessageBox{
    height: 10rem;
    overflow-y:scroll;
    overflow-x:auto;
}

.chatBotInputBox{
    text-align:center;
}
.chatBotInput{
    width:77%;
}
.chatBotButton{
    width:auto;
}

.openChatBox{
   /* animation-name: movechat;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation;*/
    bottom: 30px;
    /*transition: all 2s ease-in;*/
}



/*@keyframes movechat { 
    0%{
        bottom: 10px;
    }
    100%{
        bottom:70px
    }
}*/



