/*
Styles for chatbot ui
*/

body{
    background-color:lightsteelblue;
}

.chatBotBox{
    border:2px solid slategray;
    background-color:bisque;
    position:fixed;
    bottom: -25%;
    right: 25px;
    height:30%;
    width:50%;
    transition:all 1s ease-in-out;
    
}

.chatBotTab{
    border: 1px solid linen;
    margin: .3rem;
    font-size: 1rem;
}

.chatBotMessageBox{
    height: 70%;
    overflow-y:scroll;
    position:relative;    
}

p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    border:solid 1px burlywood;
    width:inherits;
    margin-bottom:10px;
    overflow-wrap: break-word;
}

.userMessage{
    text-align:right;
}

.chatBotInputBox{
    position:relative;
    text-align:center;
   
    display:block;
    height:auto;
}
.chatBotInput{
    width:70%;
    
}
.chatBotButton{
   width:20%;
    
}

.openChatBox{
   /* animation-name: movechat;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation;*/
    bottom: 30px;
    /*transition: all 2s ease-in;*/
}



/*@keyframes movechat { 
    0%{
        bottom: 10px;
    }
    100%{
        bottom:70px
    }
}*/



